html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Open Sans";
  margin: 0px;
  background-color: #282828;
  color:antiquewhite
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  padding: 20px;
}

input {
  margin: 10px;
  height: 2em;
  width: 25em;
}

@font-face {
  font-family: "Open Sans";
  src: url('OpenSans-Light.ttf');
}